html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
    padding: 0;
    min-width: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

/* header config */
header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 100px;
}

.header-links {
    display: flex;
    padding-top: 20px;
}
.left-side {
    margin-right: auto;
}
.right-side {
    display: flex;
    gap: 1em;
}

/* Hero Title Main Text Fonts / selector */
.main-title {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
/* Header Logo Fonts / selector */
.header-links .left-side a {
    font-size: 24px;
    color: #F9FAF8;
}
/* Hero Secondary text, header links text (FONTS) */
.header-links .right-side li a, .main-title-text{
font-size: 18px;
color: #E5E7EB;
}

.title-wrap {
    padding-top: 50px;
   display: flex;
}
.title-container {
   display: flex;   
   flex-direction: column;
   justify-content: center;
   gap: 0.8rem;
}
.title-container h1, .title-container p, .title-container input{
    margin: 0;
}
.main-title-button {
    align-self: flex-start;
   background-color: #3882f6; 
   color: #E5E7EB;
   border-radius: 5px;
   font-size: 15px;
   font-weight: 800;
   padding: 7px 28px;
   border-style: hidden;

}
/* img config */
.image-container {
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 15%;
}
.img-title {
    margin: auto;
    width: 450px;
    height: 250px;
}